%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to "GoodFood", root_path, class: "navbar-brand"
  - if user_signed_in? && current_user.admin?
    %ul.nav.navbar-nav.mr-auto
      %li.nav-item= link_to "Menu", menu_items_path, class: "nav-link"
      %li.nav-item= link_to "Users", users_path, class: "nav-link"
      %li.nav-item= link_to "Orders", orders_path, class: "nav-link"
  - if user_signed_in?
    .ml-auto
      = link_to current_user.username, edit_user_registration_path, class: "btn btn-outline-dark mr-4"
      = link_to carts_path do 
        %i.fa.fa-shopping-cart.btn.btn-outline-dark
      = link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-info ml-2"
  - else
    .ml-auto
      = link_to "Sign in", new_user_session_path, class: "btn btn-info"
      = link_to "Sign up", new_user_registration_path, class: "btn btn-info"
